.App {
  text-align: center;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.App{
  min-height: 100vh;
  min-width:100vw;
  display:flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  text-align:center;
}
.App {

}
.App > h1{
  color: #1f1f1f;
  text-decoration: underline;
  text-transform: uppercase;
}
.container{
  padding: 20px;
  height:200px;
  width:clamp(50vw,100vw);
  overflow-y: auto;
}
.foodCalorie{
  border-radius:5px;
  margin:20px 0px;
  padding: 10px;
  background:#1f1f1f;
  color:white;
}